/*All themes styling*/

/*Themes Buttons*/

#business-light{
    background-color: lightgrey;
}

#fun-light{
    background-color: rgba(255, 193, 23, 0.726);
}

#fun-dark{
    background-color:darkorchid;
}

/*Heading*/

.main-heading{
    text-align: center;
}

.hr-no-mgn{
    margin-bottom:0;
}

.new-list-wrapper{
    text-align: center;
}

.list-name-title{
    text-align: center;
}
.lists-list-container{
    padding-left: 0;
    padding-right: 0;
}

.lists-list-title{
    text-align: center;
}


.list-container{
    padding-left: 0;
    padding-right: 0;
}
.thing{
    list-style-type: none;
    text-align: left;
    margin-left: 30%;
}

.the-weather{
    border-left: 2px solid;
}

.weather-title{
    text-align: center;
}

@media only screen and (min-width: 768px){
.line-md{
    display: none;
}
}


.list-container{
    text-align: center;
}

.btn-wrapper{
    text-align: center;
}

.lists-list-container-sm{
    padding-left: 0;
    padding-right: 0;
}

.lists-list-container-big{
    border-right: 2px solid;
}

@media only screen and (min-width: 768px){
.lists-list-container-sm{
    display: none;
}
}

@media only screen and (max-width: 768px){
.lists-list-container-big{
    display: none;
}
}

/*business-dark styling*/

#business-dark{
    text-transform: uppercase;
}