/*All themes styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Themes Buttons*/
.btn-group button {
    border: none;
    width: 150px;
    min-height: 40px;
    font-size: 80% !important;
}

#business-light{
    background-color: lightgray;
    color: #000;
}

#business-dark {
    background-color: #4a4d50;
    color: #fff;
}

#fun-light{
    background-color: yellow;
    color: #000;
}

#fun-dark{
    background-color:darkorchid;
    color: #fff;
}

/*Heading*/
.main-heading{
    text-align: center;
    margin:35px 0 0;
	text-transform: uppercase;
}

.hr-no-mgn{
    margin:0;
}
/* Date and Modal */
.date-howto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

/* Modal */
.howto-btn{
    width:150px; 
    cursor:pointer; 
    margin-right: 50px;
}

.modal-urgent{
    padding-right: 5px;
    color: red;
}

/* List title */
.new-list-wrapper{
    display:flex;
    justify-content: center;
    padding:20px;
    max-height: 90px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

input {
    padding: 8px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
}

#list-title{
    margin:0;
}

/* Main Section */
section{
    height: calc(100vh - 190px);
    width: 100%;
}

section .container-main{
    height: calc(100% - 90px);
}

section .content{
    height:100%;
}

/* The Weather */
.weather-container-all{
    border-right: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.notification{
    display:none;
}

.temperature-value{
    font-size:xx-large;
}

.temperature-description{
    text-transform: capitalize;
}

.weather-container p{
    margin-bottom: 10px;
}

.weather-container img{
    margin: 10px 0;

}

/* to-do section */
.list-container {
    position: relative;
    padding-bottom: 110px;
    border-right: 1px solid;
}
#list {
    padding: 0px 10px;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
}
.thing{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 15px 0;
    font-size: 1.1rem;
}
.thing span {
    padding-left: 10px;
    word-break: keep-all;
    flex: 1;
}
.thing .fa-exclamation {
    margin-right: 10px;
}

.thing i {
    cursor: pointer;
}

.strike-through{
    text-decoration:line-through;
    color:black;
}

.red-text{
    color:red;
}
/* Input and buttons */
.input-and-btns {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}
.input-and-btns input {
    margin-top: 10px;
    width:250px
}
.input-and-btns button {
    margin-top: 10px;
    width: 45%;
    max-width:160px;
}

/* Current lists */
.current-lists{
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.current-lists .lists-list-title {
    text-align: center;
}

.current-lists ul li {
    list-style: none;
    margin: 2px;
    padding: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
}
.current-lists ul li:hover {
    text-decoration: underline;
    }

.lists-list-title{
    text-align: center;
}

@media only screen and (min-width: 768px){
.line-md{
    display: none;
}
}

@media only screen and (max-width: 767px){
.weather-container-all{
    order: 3;
    border-right: none;
}
.list-container {
    order: 1;
    padding-bottom: 10px;
    border-right:none;
}
.current-lists {
    order: 2;
    border: none;
    padding: 0 0 10px;
    max-height: 250px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.btn-group{
    width:100%;
}
.main-heading{
    margin-top: 20px;
    margin-bottom: 15px;
}
.howto-btn{
    width:120px; 
    margin-right: 0;
}
#date-and-time{
    font-size: medium;
}
.br-big{
    display:none;
    font-size: medium;
}
.temperature-value{
    font-size:larger;
}
.weather-container img{
    margin: 0;
}
.thing span {
    padding-left: 20px;
}
#list{
    min-height: 200px;
    max-height: 400px;
}
.current-lists ul li{
    text-align: center;
}
.current-lists ul li:hover{
    text-align: center;
}
}
