@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

/*All themes styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width:100vw;
    height:100vh;
    overflow: hidden;
}

/*Themes Buttons*/
.btn-group button {
    border: none;
    width: 150px;
    min-height: 30px;
    font-size: 80% !important;
}

#business-light{
    background-color: lightgray;
    color: #000;
}

#business-dark {
    background-color: #4a4d50;
    color: #fff;
}

#fun-light{
    background-color: rgb(32, 253, 217);
    color: #000;
}

#fun-dark{
    background-color:rgb(111, 20, 114);
    color: #fff;
}

/*Heading*/
header{
    height:160px
}
.main-heading{
    text-align: center;
    margin:30px 0 15px;
    text-transform: uppercase;
}

/* Date and Modal */
.date-howto-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}

/* Modal */
.howto-btn{
    width:150px; 
    cursor:pointer; 
    margin-right: 50px;
    height:45px;
    background-size: 150px 45px;
    background-repeat: no-repeat;
}

.modal-urgent{
    padding-right: 5px;
    color: red;
}

/* List title */
.new-list-wrapper{
    display:flex;
    justify-content: center;
    padding:20px;
    height:90px;
}

input {
    padding: 8px 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #b9b9b9;
}

/* Main Section */
section{
    height: calc(100vh - 160px);
    width: 100%;
}

section .container-main{
    height: calc(100% - 90px);
}

section .content{
    height:100%;
}

/* The Weather */
.weather-container-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}
.notification{
    background-color: #f8d7da;
    display:none;
}
.notification p{
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}
.temperature-value{
    font-size:2.7rem;
}
.temperature-description{
    text-transform: capitalize;
    font-size: larger;
}

.weather-container p{
    margin-bottom: 10px;
}

.weather-container img{
    margin: 10px 0;
}

/* to-do section */
.list-container {
    position: relative;
    padding-bottom: 110px;
    height:100%;
}

#list {
    padding: 0px 10px;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
}
.thing{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 15px 0;
    font-size: 1.1rem;
}
.thing span {
    padding-left: 10px;
    word-break: keep-all;
    flex: 1;
}
.thing .fa-exclamation {
    margin-right: 10px;
}
.thing i {
    cursor: pointer;
}
.strike-through{
    text-decoration:line-through;
}
.red-text{
    color:red;
}
/* Input and buttons */
.input-and-btns {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
}
.input-and-btns input {
    margin-top: 10px;
    width:250px
}

/*Buttons*/
.input-and-btns button {
    margin-top: 10px;
    width: 45%;
    max-width:160px;
}
.delete-list-btn {
    background-color: #fa2222;
    border-color: #fa2222;
}
.delete-list-btn:hover {
    background-color: #d84c58;
    border-color: #d84c58;
}
#new-list-button {
    background-color: #59abef;
    border-color: #59abef;
}
#new-list-button:hover {
    background-color: #6bb5f1;
    border-color: #59abef;
}


/* Current lists */
.current-lists{
    padding: 10px;
    height: 100%;
}
.current-lists ul{
    overflow-y: auto;
    height:87%;
}

.current-lists .lists-list-title {
    text-align: center;
}

.current-lists ul li {
    list-style: none;
    margin: 2px;
    padding: 5px;
    font-size: 1.2rem;
    text-transform: capitalize;
    cursor: pointer;
}
.current-lists ul li:hover {
    text-decoration: underline;
    }

.lists-list-title{
    text-align: center;
}

@media only screen and (max-width: 767px){
body{
    overflow-y: auto;
}

.weather-container-all{
    order: 3;
    border-right: none;
}
.list-container {
    order: 1;
    border-right:none;
    height:auto;
    max-height: 100%;
}
.list-container ul{
    max-height: 400px;
}
.current-lists {
    order: 2;
    border: none;
    padding: 0 0 10px;
    max-height: 200px;
}
.btn-group{
    width:100%;
}
.main-heading{
    margin-top: 24px;
    margin-bottom: 20px;
}
.howto-btn{
    margin-right: 0;
}

.br-big{
    display:none;
}
.weather-container img{
    margin: 0;
}
.thing span {
    padding-left: 20px;
}
.input-and-btns button{
    width:110px;
}
.current-lists ul li{
    text-align: center;
}
.current-lists ul li:hover{
    text-align: center;
}
}
@media only screen and (max-width: 576px){
header{
    height:190px
}
section{
    height: calc(100vh - 190px);
}

.howto-btn{
    width:110px; 
    margin-right: 10px;
    height:30px;
    background-size: 110px 30px;
}
#date-and-time{
    max-width: 165px;
    font-size: small;
}
}
